[Unit]
Description=qvOS Battery Monitor Timer

[Timer]
OnBootSec=1min
OnUnitActiveSec=30sec
AccuracySec=10sec
Unit=qvos-battery-monitor.service

[Install]
WantedBy=timers.target
