@define-color selected-text #ffffff;
@define-color text #858585;
@define-color base #090909;
@define-color border #242424;
@define-color foreground #858585;
@define-color background #090909;
@define-color selection-line transparent;

.box-wrapper.box-wrapper {
  background: #090909;
  border: 1px solid @border;
}

child .item-box.item-box {
  background: transparent;
  border-left: 2px solid transparent;
}

child:selected .item-box.item-box {
  background: transparent;
  border-left-color: @selection-line;
}

child:selected .item-box * {
  color: @selected-text;
}

.box-wrapper child:selected,
.box-wrapper child:selected > *,
child:selected {
  background: transparent;
}

child:hover .item-box.item-box {
  background: transparent;
}

.search-container.search-container,
.keybind-hints.keybind-hints {
  background: #090909;
  border: none;
}

.input:focus,
.input:active {
  color: @foreground;
}
